@use '../variables';

.input-container {
  font-weight: 300;
  .input {
    width: 100%;
    background-color: transparent !important;
    border-bottom: 1px solid variables.$light-grey;
    &:focus {
      outline: none;
    }
    &.error {
      border-bottom: 1px solid variables.$red;
    }
  }
}

