.menu-container {
    position: sticky;
    top: 0px;
    z-index: 10001;
  @media screen and (min-width: 976px) {
    top: 24px;
    height: calc(100vh - 48px) !important;
  }
  nav {
    min-width: 133px;
    max-width: 133px;
    @media screen and (min-width: 768px) {
      min-width: 177px;
      max-width: 177px;
    }
    @media screen and (min-width: 976px) {
      max-height: 200px;
    }

    .item.active {
      filter:  brightness(0) invert(1)
    }
    .item:hover {
      filter:  brightness(0) invert(1)
    }
  }
}